.App {
  text-align: center;
}

header {
  margin: 20px auto 0;
}

.gameBoard {
  border: 1px solid #AC8E7E;
  margin: 20px auto;
}

.cell {
  width: 15px;
  height: 15px;
  transition: background .1s;
}

.cell.active {
  background: #545352;
}

button {
  background: #AC8E7E;
  color:#FFF;
  border: none;
  padding: 20px;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
  transition: background .2s;
}

button:hover {
  background:#545352;
}